@model IEnumerable<ATLManager.Models.Conta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContaRole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContaEstadoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoAtivacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataUltimaAlteracao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContaRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContaEstadoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoAtivacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUltimaAlteracao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
