@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@{
	ViewData["Title"] = "Estatísticas";
}

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager

@{
	string[] meses = new string[]
	{
		"Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho",
		"Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"
	};
}

@if (SignInManager.IsSignedIn(User))
{

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">

	<style>

		* {
			font-family: 'Poppins', sans-serif;
		}

		h3 {
			text-align: center;
			color: #3F51B5;
			margin-bottom: 20px;
		}

		h1 {
			text-align: center;
		}

		.chart-container {
			position: relative;
			height: 400px;
			width: 100%;
		}

			.chart-container canvas {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}

		.table-container {
			margin-bottom: 100px;
			overflow-x: auto;
		}

		.col-md-6 {
			margin-bottom: 30px;
		}

		.d-flex {
			margin-bottom: 10px;
		}

		.table {
			width: 100%;
		}

		/* Customização de cores, espaçamento e ícones */
		.container {
			border-radius: 5px;
			padding: 20px;
		}

		.row {
			margin-top: 20px;
		}

		.form-control {
			margin-left: 10px;
		}


		.no-formulario-msg h4 {
			color: red;
			font-weight: bold;
		}

	</style>

	<!-- Container -->
	<div class="container-fluid">
		<div class="d-flex justify-content-center ms-2 pb-2" style="padding-left: 2%; padding-top: 2%;">
			<h1 class="me-3 fw-bold text-center mb-4">@ViewData["Title"]</h1>
			<img src="~/images/icons/search-group.png" width="50" height="50">
		</div>

		<div class="row" style="padding-left: 6em;">
			<div class="col-3"></div>
			<div class="col-5"></div>
			<div class="col-3  pb-2" id="divQuestion">
				<button class="btn btn-primary rounded-circle" id="btn-ajuda">
					<img src="~/images/question.png" alt="Imagem 1" class="img-fluid" width="15">
				</button>
			</div>
		</div>


		<!-- Fase 1  -->
		<!-- d-flex -->
		<div class="d-flex justify-content-center" id="divFase1">
			<!-- Box  -->
			<div class="row col-6 justify-content-center custom-box w-50" id="myBox">
				<div class="row box border-5">

					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<h3>Visitas de Estudo por Mês</h3>
								@if (ViewBag.Formularios.Count == 0)
								{
									<div id="noFormulariosMessage" class="text-center no-formulario-msg">
										<h4>Formulários não criado</h4>
									</div>
								}
								else
								{
									<div class="chart-container">
										<canvas id="visitasEstudoPorMesChart"></canvas>
									</div>
								}
							</div>
							<div class="col-md-6">
								<h3>Atividades por Mês</h3>
								<div class="chart-container">
									<canvas id="atividadesPorMesChart"></canvas>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<h3>Número de Educandos</h3>
                                <p>@Model.NumeroDeEducandos</p>
								<div class="chart-container">
									<canvas id="generoEducandosChart"></canvas>
								</div>
							</div>
							<div class="col-md-4">
								<h3>Número de Rapazes</h3>
								<p>@Model.NumeroDeRapazes</p>
							</div>
							<div class="col-md-4">
								<h3>Número de Raparigas</h3>
								<p>@Model.NumeroDeRaparigas</p>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<h3>Faturas em Atraso</h3>
								<p>Quantidade: @Model.FaturasEmAtraso</p>
								<p>Valor total: @Model.TotalValorEmAtraso.ToString("C")</p>
								<div class="chart-container">
									<canvas id="faturasChart"></canvas>
								</div>

							</div>
							<div class="col-md-6">
								<h3>Faturas Pagas</h3>
								<p>Quantidade: @Model.FaturasPagas</p>
								<p>Valor total: @Model.TotalValorPago.ToString("C")</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Slide de Ajuda  -->
	<div id="menu-ajuda" class="bg-primary animate__animated animate__slideInLeft">

		<div class="row text-center mt-2">
			<div class="col-10 ">
				<h2 class="text-white ms-5">Ajuda</h2>
			</div>

			<div class="col-2">
				<button type="button" class="btn-close text-reset" id="close-ajuda" aria-label="Close"></button>
			</div>
		</div>
		<div class="">
			<input class="form-control mr-sm-2 mb-3 p-2 text-center" type="search"
				   placeholder="Procure artigos que o ajude" aria-label="Search" style="border-radius: 10px;">
		</div>
		<!-- -->
		<ul class="row justify-content-center p-4 bg-white mt-4 "
			style="position: absolute;   right: 0em; left: 0em; height: 80%;">
			<li class="row">
				<button type="button" class="btn btn-help helpShadowButton border-0 mt-3 fw-bold" id="showText1">
					<div class="d-flex align-items-center justify-content-center">

						<span>Como alterar uma visita de estudo</span>
						<img src="~/images/guide/dropdown.png" style="padding-left: 2%;">
					</div>
				</button>


				<span class="myText p-3 helpShadowButton" id="displayText1" style="display: none; position: relative;">
					Here's some more textHere's some more textHere's some more textHere's some
					more textHe

				</span>
			</li>


			<li class="row">
				<button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
					<div class="d-flex align-items-center justify-content-center">
						<div class="col-3">
							<img src="~/images/guide/terms.png" class="">
						</div>
						<div class="col">
							<span>Leia artigos de ajuda</span>
						</div>
					</div>
				</button>
			</li>
			<li class="row">
				<button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
					<div class="d-flex align-items-center">
						<div class="col-3">
							<img src="~/images/guide/comunity.png" class="">
						</div>
						<div class="col">
							<span>Pergunte à comunidade</span>
						</div>
					</div>
				</button>
			</li>
			<li class="row">
				<button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
					<div class="d-flex align-items-center justify-content-center">
						<div class="col-3">
							<img src="~/images/guide/new.png" class="">
						</div>
						<div class="col">
							<span>Novas Atualizações</span>
						</div>
					</div>
				</button>
			</li>
			<li class="row">
				<button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
					<div class="d-flex align-items-center justify-content-center">
						<div class="col-3">
							<img src="~/images/guide/feedback.png" class="">
						</div>
						<div class="col">
							<span>Dê Feedback</span>
						</div>
					</div>

				</button>
			</li>
		</ul>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>

		// Gráfico de barras para as estatísticas de atividades por mês
		const visitasEstudoPorMesData = {
			labels: [
				'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho',
				'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'
			],
			datasets: [{
				label: 'Visitas de Estudo por Mês',
				data: [
		@Model.VisitasEstudoPorMesEstatisticas["VisitaEstudoMes1"],
		@Model.VisitasEstudoPorMesEstatisticas["VisitaEstudoMes2"],
		@Model.VisitasEstudoPorMesEstatisticas["VisitaEstudoMes3"],
		@Model.VisitasEstudoPorMesEstatisticas["VisitaEstudoMes4"],
		@Model.VisitasEstudoPorMesEstatisticas["VisitaEstudoMes5"],
		@Model.VisitasEstudoPorMesEstatisticas["VisitaEstudoMes6"],
		@Model.VisitasEstudoPorMesEstatisticas["VisitaEstudoMes7"],
		@Model.VisitasEstudoPorMesEstatisticas["VisitaEstudoMes8"],
		@Model.VisitasEstudoPorMesEstatisticas["VisitaEstudoMes9"],
		@Model.VisitasEstudoPorMesEstatisticas["VisitaEstudoMes10"],
		@Model.VisitasEstudoPorMesEstatisticas["VisitaEstudoMes11"],
		@Model.VisitasEstudoPorMesEstatisticas["VisitaEstudoMes12"]
										],
				backgroundColor: 'rgba(75, 192, 192, 0.2)',
				borderColor: 'rgba(75, 192, 192, 1)',
				borderWidth: 1
			}]
		};

		const visitasEstudoPorMesConfig = {
			type: 'bar',
			data: visitasEstudoPorMesData,
			options: {
				scales: {
					y: {
						beginAtZero: true,
						max: Math.ceil(Math.max(...visitasEstudoPorMesData.datasets[0].data) / 10) * 10,
						ticks: {
							stepSize: 1,
							font: {
								size: 14,
								family: 'Poppins'
							}
						},
					},
					x: {
						ticks: {
							font: {
								size: 14,
								family: 'Poppins'
							}
						}
					}
				},
				plugins: {
					legend: {
						display: false
					}
				},
				responsive: true,
				maintainAspectRatio: false,
				layout: {
					padding: {
						left: 10,
						right: 10,
						top: 10,
						bottom: 10
					}
				}
			}
		};

		const visitasEstudoPorMesChart = new Chart(
			document.getElementById('visitasEstudoPorMesChart'),
			visitasEstudoPorMesConfig
		);


		
		
		// Gráfico de barras para as estatísticas de atividades por mês
		const atividadesPorMesData = {
			labels: [
				'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho',
				'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'
			],
			datasets: [{
				label: 'Atividades por Mês',
				data: [
		@Model.AtividadesPorMesEstatisticas["AtividadesMes1"],
		@Model.AtividadesPorMesEstatisticas["AtividadesMes2"],
		@Model.AtividadesPorMesEstatisticas["AtividadesMes3"],
		@Model.AtividadesPorMesEstatisticas["AtividadesMes4"],
		@Model.AtividadesPorMesEstatisticas["AtividadesMes5"],
		@Model.AtividadesPorMesEstatisticas["AtividadesMes6"],
		@Model.AtividadesPorMesEstatisticas["AtividadesMes7"],
		@Model.AtividadesPorMesEstatisticas["AtividadesMes8"],
		@Model.AtividadesPorMesEstatisticas["AtividadesMes9"],
		@Model.AtividadesPorMesEstatisticas["AtividadesMes10"],
		@Model.AtividadesPorMesEstatisticas["AtividadesMes11"],
		@Model.AtividadesPorMesEstatisticas["AtividadesMes12"]
								],
				backgroundColor: 'rgba(75, 192, 192, 0.2)',
				borderColor: 'rgba(75, 192, 192, 1)',
				borderWidth: 1
			}]
		};

		const atividadesPorMesConfig = {
			type: 'bar',
			data: atividadesPorMesData,
			options: {
				scales: {
					y: {
						beginAtZero: true,
						max: Math.ceil(Math.max(...atividadesPorMesData.datasets[0].data) / 10) * 10,

						ticks: {
							stepSize: 1,
							font: {
								size: 14,
								family: 'Poppins'
							}
						}
					},
					x: {
						ticks: {
							font: {
								size: 14,
								family: 'Poppins'
							}
						}
					}
				},
				plugins: {
					legend: {
						display: false
					}
				},
				responsive: true,
				maintainAspectRatio: false,
				layout: {
					padding: {
						left: 10,
						right: 10,
						top: 10,
						bottom: 10
					}
				}
			}
		};

		const atividadesPorMesChart = new Chart(
			document.getElementById('atividadesPorMesChart'),
			atividadesPorMesConfig
		);

		const generoEducandosData = {
			labels: ['Educandos'],
			datasets: [
				{
					label: 'Rapazes',
					data: [@Model.NumeroDeRapazes],
					backgroundColor: 'rgba(75, 192, 192, 0.2)',
					borderColor: 'rgba(75, 192, 192, 1)',
					borderWidth: 1
				},
				{
					label: 'Raparigas',
					data: [@Model.NumeroDeRaparigas],
					backgroundColor: 'rgba(255, 99, 132, 0.2)',
					borderColor: 'rgba(255, 99, 132, 1)',
					borderWidth: 1
				}
			]
		};

		const generoEducandosConfig = {
			type: 'bar',
			data: generoEducandosData,
			options: {
				scales: {
					y: {
						beginAtZero: true,
						max: Math.ceil(Math.max(...atividadesPorMesData.datasets[0].data) / 10) * 10,
						ticks: {
							stepSize: 1,
							font: {
								size: 14,
								family: 'Poppins'
							}
						}
					},
					x: {
						ticks: {
							font: {
								size: 14,
								family: 'Poppins'
							}
						}
					}
				},
				plugins: {
					legend: {
						display: true
					}
				},
				responsive: true,
				maintainAspectRatio: false,
				layout: {
					padding: {
						left: 10,
						right: 10,
						top: 10,
						bottom: 10
					}
				}
			}
		};

		const generoEducandosChart = new Chart(
			document.getElementById('generoEducandosChart'),
			generoEducandosConfig
		);

		const faturasData = {
			labels: ['Faturas Pagas', 'Faturas em Atraso'],
			datasets: [
				{
					data: [@Model.FaturasPagas, @Model.FaturasEmAtraso],
					backgroundColor: ['rgba(75, 192, 192, 0.2)', 'rgba(255, 99, 132, 0.2)'],
					borderColor: ['rgba(75, 192, 192, 1)', 'rgba(255, 99, 132, 1)'],
					borderWidth: 1
				}
			]
		};

		const faturasDataConfig = {
			type: 'doughnut',
			data: faturasData,
			options: {
				responsive: true,
				plugins: {
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: 'Faturas Pagas x Faturas em Atraso'
					}
				}
			}
		};

		const faturasDataChart = new Chart(
			document.getElementById('faturasChart'),
			faturasDataConfig
		);

		
	</script>

	<!-- // Slide de Ajuda  -->
	<!-- Search on table (Fase1) -->
	<script>
		// Get the input element and add an event listener for input
		const input = document.getElementById("nome");
		if (input) {
			input.addEventListener("input", function () {

				// Get the table and search for the input value
				const table = document.getElementById("myTable");
				const filter = input.value.toUpperCase();
				const rows = table.getElementsByTagName("tr");

				// Loop through all table rows, and hide those that don't match the search query
				for (let i = 0; i < rows.length; i++) {
					const cells = rows[i].getElementsByTagName("td");
					let match = false;
					for (let j = 0; j < cells.length; j++) {
						const cell = cells[j];
						if (cell) {
							const text = cell.textContent || cell.innerText;
							if (text.toUpperCase().indexOf(filter) > -1) {
								match = true;
								break;
							}
						}
					}
					rows[i].style.display = match ? "" : "none";
				}
			});
		}
	</script>

	<script>
		window.onload = function () {
			var divBox = document.getElementById("myBox")
			var divQuestion = document.getElementById("divQuestion")

			if (screen.width >= 1366 && screen.height >= 768 && screen.width < 1920 && screen.height <= 1080) {
				// Large screen
				divBox.classList.remove("col-6");
				divBox.classList.add("col-12");

				divQuestion.classList.add("text-right");
				divQuestion.style.paddingRight = "2em";

			}
		}
	</script>

}