@model IEnumerable<ATLManager.Models.Refeicao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proteina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HidratosCarbono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acucar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lipidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorEnergetico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AGSat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proteina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HidratosCarbono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acucar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lipidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorEnergetico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AGSat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RefeicaoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RefeicaoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RefeicaoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
