@model ATLManager.Models.Educando
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager

@{
	ViewData["Title"] = "Details";
}

@if (SignInManager.IsSignedIn(User))
{
	<div class="d-flex justify-content-center ms-2 pb-2" style="padding-left: 2%; padding-top: 0%;">
		<h1 class="me-3 fw-bold text-center mb-4">Detalhes da consulta</h1>
		<img src="~/images/icons/search-group.png" width="50" height="50">
	</div>
	<!-- Fase 1  -->
	<!-- d-flex -->
	<div class="d-flex justify-content-center mt-3">
		<!-- Box  -->
		<div class="row col-6 justify-content-center custom-box w-50" id="myBox">
			<div class="row box border-5">
				<div class="container">
					<div class="d-flex align-items-start">
						<div class="nav row col-3 flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
							<button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
									type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
									Educando
							</button>
							<a class="nav-link text-center" asp-action="DetailsSaude" asp-route-id="@Model.EducandoId">
								<button class="nav-link mx-auto" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
										type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
									Info. Saúde
								</button>
							</a>
							<a class="nav-link text-center" asp-action="DetailsResponsaveis" asp-route-id="@Model.EducandoId">
								<button class="nav-link mx-auto" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
										type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
									Autorizações
								</button>
							</a>
							<a class="nav-link text-center" asp-action="DetailsEncarregado" asp-route-id="@Model.EducandoId">
								<button class="nav-link mx-auto" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
										type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
									Encarregado de Educação
								</button>
							</a>
						</div>
						<div class="tab-content" id="v-pills-tabContent">
							<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
								<div class="row mt-3 text-center">
									<div class="mb-3">
										<div class="row justify-content-center">
											<img src="~/images/uploads/educandos/@Model.ProfilePicture"
											class="rounded-circle mb-3" style="width:15%"
											asp-append-version="true" />
										</div>
										<dl class="row text-end">
											<div class="row">
												<dt class="col mr-2">
													@Html.DisplayNameFor(model => model.Name)
												</dt>
												<dd class="col text-left">
													@Html.DisplayFor(model => model.Name)
												</dd>
											</div>
											<div class="row">
												<dt class="col mr-2">
													@Html.DisplayNameFor(model => model.Apelido)
												</dt>
												<dd class="col text-left">
													@Html.DisplayFor(model => model.Apelido)
												</dd>
											</div>
											<div class="row">
												<dt class="col mr-2">
													@Html.DisplayNameFor(model => model.CC)
												</dt>
												<dd class="col text-left">
													@Html.DisplayFor(model => model.CC)
												</dd>
											</div>
											<div class="row">
												<dt class="col mr-2">
													@Html.DisplayNameFor(model => model.Genero)
												</dt>
												<dd class="col text-left">
													@Html.DisplayFor(model => model.Genero)
												</dd>
											</div>
											<div class="row">
												<dt class="col mr-2">
													@Html.DisplayNameFor(model => model.Atl)
												</dt>
												<dd class="col text-left">
													@Html.DisplayFor(model => model.Atl.Name)
												</dd>
											</div>
											<div class="row">
												<dt class="col mr-2">
													@Html.DisplayNameFor(model => model.Encarregado)
												</dt>
												<dd class="col text-left">
													@Html.DisplayFor(model => model.Encarregado.FullName)
												</dd>
											</div>
										</dl>
										<div class="row">
											<dt class="col mr-2">
												Declaracao Médica
												@*@Html.DisplayNameFor(model => model.DeclaracaoMedica)*@
											</dt>
											<dd class="col text-left">
												@if (Model.DeclaracaoMedica != null)
												{
													<a asp-action="Download" asp-route-fileName="@Model.DeclaracaoMedica">Descarregar ficheiro</a>
												}
												else
												{
													<span class="text-center"> - </span>
												}
											</dd>
										</div>
										<div class="row">
											<dt class="col mr-2">
												Boletim Vacinas
												@*@Html.DisplayNameFor(model => model.BoletimVacinas)*@
											</dt>
											<dd class="col text-left">
												@if (Model.BoletimVacinas != null)
												{
													<a asp-action="Download" asp-route-fileName="@Model.BoletimVacinas">Descarregar ficheiro</a>
												}
												else
												{
													<span class="text-center"> - </span>
												}
											</dd>
										</div>
										<hr />
										<div class="d-flex text-center mt-4">
											<div class="col">
												<a asp-action="Index">
													<button type="button"
															class="btn btn-secondary custom-button w-50" style="border-radius:6em">
														Voltar
													</button>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- // Box -->
		</div>
		<!-- // Fase 1 -->
	</div>

	<script>
		window.onload = function () {
			var divBox = document.getElementById("myBox")

			if (screen.width >= 1366 && screen.height >= 768 && screen.width < 1920 && screen.height <= 1080) {
				// Large screen
				divBox.classList.remove("col-6");
				divBox.classList.add("col-12");
				//divBox.classList.add("col-8"); -> monitores maiores
			}
		}
	</script>
}