@model ATLManager.ViewModels.ReciboRespostaEditViewModel
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager

@{
	ViewData["Title"] = "Edit";
}

@if (SignInManager.IsSignedIn(User))
{
	<div class="d-flex justify-content-center ms-2" style="padding-left: 2%; padding-top: 0%;">
		<h1 class="me-3 fw-bold text-center mb-0">Editar Comprovativo de Pagamento</h1>
		<img src="~/images/icons/search-group.png" width="50" height="50">
	</div>
	<!-- Fase 1  -->
	<!-- d-flex -->
	<div class="d-flex justify-content-center mt-0">
		<!-- Box  -->
		<div class="row col-6 justify-content-center custom-box w-50" id="myBox">
			<div class="row box border-5 p-5">
				<div class="container">
					<div class="row mt-3">
						<div class="mb-3">
							<dl class="row">
								<div class="row">
									<dt class="col mr-2">
										@Html.DisplayNameFor(model => model.Name)
									</dt>
									<dd class="col text-left">
										@Html.DisplayFor(model => model.Name)
									</dd>
								</div>
								<div class="row">
									<dt class="col mr-2">
										@Html.DisplayNameFor(model => model.Educando)
									</dt>
									<dd class="col text-left">
										@Html.DisplayFor(model => model.Educando)
									</dd>
								</div>
								<div class="row">
									<dt class="col mr-2">
										@Html.DisplayNameFor(model => model.Price)
									</dt>
									<dd class="col text-left">
										@Html.DisplayFor(model => model.Price)
									</dd>
								</div>
								<div class="row">
									<dt class="col mr-2">
										@Html.DisplayNameFor(model => model.NIB)
									</dt>
									<dd class="col text-left">
										@Html.DisplayFor(model => model.NIB)
									</dd>
								</div>
								<div class="row">
									<dt class="col mr-2">
										@Html.DisplayNameFor(model => model.Description)
									</dt>
									<dd class="col text-left">
										@Html.DisplayFor(model => model.Description)
									</dd>
								</div>
								<div class="row">
									<dt class="col mr-2">
										@Html.DisplayNameFor(model => model.ResponseDate)
									</dt>
									<dd class="col text-left">
										@if (Model.ResponseDate != null)
										{
											@Html.DisplayFor(model => model.ResponseDate)
										}
										else
										{
											<span class="text-center"> - </span>
										}
									</dd>
								</div>
								<div class="row">
									<dt class="col mr-2">
										@Html.DisplayNameFor(model => model.DateLimit)
									</dt>
									<dd class="col text-left">
										@Html.DisplayFor(model => model.DateLimit)
									</dd>
								</div>
								<div class="row">
									<dt class="col mr-2">
										@Html.DisplayNameFor(model => model.ComprovativoPath)
									</dt>
									<dd class="col text-left">
										@if (Model.ComprovativoPath != null)
										{
											<a asp-action="Download" asp-route-fileName="@Model.ComprovativoPath">Descarregar ficheiro</a>
										}
										else
										{
											<span class="text-center"> - </span>
										}
									</dd>
								</div>
								<form asp-action="Edit" enctype="multipart/form-data">
									<input type="hidden" asp-for="RespostaId" />
									<input type="hidden" asp-for="ReciboId" />

									<div class="row">
										<div class="col"></div>
										<div class="col ml-4">
											<label class="form-check-label">
												<input class="form-check-input" asp-for="Authorized" /> @Html.DisplayNameFor(model => model.Authorized)
											</label>
										</div>
									</div>
									<div class="row mb-3">
										<div class="col">
											<label asp-for="Receipt" class="control-label">Comprovativo de Pagamento</label>
											<div class="custom-file">
												<input asp-for="Receipt" class="custom-file-input" id="customFile">
												<label class="custom-file-label" for="customFile">Escolha um ficheiro</label>
											</div>
											<span asp-validation-for="Receipt" class="text-danger"></span>
										</div>
									</div>

									<div class="row mb-3">
										<div class="col">
											<label asp-for="Notes" class="control-label"></label>
											<input asp-for="Notes" class="form-control" />
											<span asp-validation-for="Notes" class="text-danger"></span>
										</div>
									</div>

									<div class="row justify-content-center mt-4">
										<div class="col-md-auto mt-4">
											<div class="row">
												<div class="col mb-3">
													<a asp-controller="Recibos" asp-action="Respostas" asp-route-id="@Model.ReciboId">
														<button type="button"
																class="btn btn-secondary custom-button" style="border-radius:6em">
															Voltar
														</button>
													</a>
												</div>
												<div class="col mb-3">
													<input type="submit" value="Alterar" class="btn btn-primary" style="border-radius:6em" />
												</div>
											</div>
										</div>
									</div>
								</form> 
							</dl>
							<div>
							
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- // Box -->
		</div>
		<!-- // Fase 1 -->
	</div>

	<script type="text/javascript">
		// Add the following code if you want the name of the file appear on select
		$(".custom-file-input").on("change", function () {
			var fileName = $(this).val().split("\\").pop();
			$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
	</script>
	<script>
		window.onload = function () {
			var divBox = document.getElementById("myBox")

			if (screen.width >= 1366 && screen.height >= 768 && screen.width < 1920 && screen.height <= 1080) {
				// Large screen
				divBox.classList.remove("col-6");
				divBox.classList.add("col-8");
			}
		}
	</script>

}