@using ATLManager.Services;

@inject SignInManager<ATLManagerUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
@inject LanguageService language

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
            Perfil
        </a>
    </li>
    @if (User.IsInRole("EncarregadoEducacao"))
    {
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.AdditionalInfoNavClass(ViewContext)" id="additional-info" asp-page="./AdditionalInfo">
                Informações Adicionais
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
            @language.GetKey("email")
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
            @language.GetKey("password")
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item">
            <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
                @language.GetKey("externalLogins")
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">
            @language.GetKey("2factorAuth")
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
            @language.GetKey("personalData")
        </a>
    </li>
</ul>
