@page
@using ATLManager.Services;

@model Disable2faModel
@{
    ViewData["Title"] = language.GetKey("titleDisable2factorAuth");
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}
@inject LanguageService language

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@language.GetKey("txt1Disable2factorAuth")</strong>
    </p>
    <p>
        @language.GetKey("txt2Disable2factorAuth") <a asp-page="./ResetAuthenticator">@language.GetKey("txt3Disable2factorAuth")</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@language.GetKey("btnDisable2factorAuth")</button>
    </form>
</div>
