@page
@using ATLManager.Services;

@model EmailModel
@{
    ViewData["Title"] = @language.GetKey("titleManageEmail");
    ViewData["ActivePage"] = ManageNavPages.Email;
}
@inject LanguageService language


<div class="container-fluid">
   
    <div class="d-flex justify-content-center" id="divFase1">
        <!-- Box  -->
        <div class="row col-12 justify-content-center custom-box mt-5" id="myBox">
            <div class="row box border-5 p-5">
                <!--text-center  -->
                <div class="container">
                    <div class="row mt-3">
                        <div class="mb-3">

                            <partial name="_StatusMessage" for="StatusMessage" />
                            <div class="row">
                                <div class="col-md-3"></div>

                                <div class="col-md-6">
                                    <form id="email-form" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        @if (Model.IsEmailConfirmed)
                                        {
                                            <div class="row form-floating mb-3">
                                                <input asp-for="Email" class="form-control" disabled />
                                                @*<div class="input-group-append">
                                                    <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                                                </div>*@
                                                <label asp-for="Email" class="form-label">@language.GetKey("email")</label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row form-floating mb-3">
                                                <input asp-for="Email" class="form-control" disabled />
                                                <label asp-for="Email" class="form-label">@language.GetKey("email")</label>
                                                <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">@language.GetKey("btnSendVerificationEmail")</button>
                                            </div>
                                        }
                                        <div class="row form-floating mb-3">
                                            <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
                                            <label asp-for="Input.NewEmail" class="form-label">@language.GetKey("newEmail")</label>
                                            <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                                        </div>
                                        <div class="row justify-content-center">
                                            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-75 btn btn-lg btn-primary">@language.GetKey("btnChangeEmail")</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
