@page
@using ATLManager.Models;
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = language.GetKey("titleGenerateRecoveryCodes");
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}
@inject LanguageService language

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@language.GetKey("txt1GenerateRecoveryCodes")</strong>
    </p>
    <p>
        @language.GetKey("txt2GenerateRecoveryCodes")
    </p>
    <p>
        @language.GetKey("txt3GenerateRecoveryCodes") <a asp-page="./ResetAuthenticator">@language.GetKey("txt4GenerateRecoveryCodes")</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@language.GetKey("btnGenerateRecoveryCodes")</button>
    </form>
</div>
