@page
@using ATLManager.Services;
@model PersonalDataModel
@{
    ViewData["Title"] = @language.GetKey("personalData");
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
@inject LanguageService language


<div class="container-fluid">
   
    <div class="d-flex justify-content-center" id="divFase1">
        <!-- Box  -->
        <div class="row col-12 justify-content-center custom-box mt-5" id="myBox">
            <div class="row box border-5 p-5">
                <!--text-center  -->
                <div class="container">
                    <div class="row mt-3">
                        <div class="mb-3">

                           
                            <div class="row text-center">
                               <h3>@ViewData["Title"]</h3>

                                <div class="row">
                                
                                        <p>@language.GetKey("txt1PersonalData")</p>
                                        <p>
                                            <strong>@language.GetKey("txt2PersonalData")</strong>
                                        </p>
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col text-right"> 
                                                <form id="download-data" asp-page="DownloadPersonalData" method="post">
                                                    <button class="btn btn-primary" type="submit">@language.GetKey("btnDownloadPersonalData")</button>
                                                </form>
                                            </div>
                                            <div class="col text-left">
                                                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">@language.GetKey("hrefDeletePersonalData")</a>
                                            </div>
                                        </div>           
                                 
                                </div>                     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
