@page
@using ATLManager.Services;
@model PersonalDataModel
@{
    ViewData["Title"] = @language.GetKey("personalData");
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
@inject LanguageService language

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>@language.GetKey("txt1PersonalData")</p>
        <p>
            <strong>@language.GetKey("txt2PersonalData")</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">@language.GetKey("btnDownloadPersonalData")</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">@language.GetKey("hrefDeletePersonalData")</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
