@page
@using ATLManager.Services;

@model SetPasswordModel
@{
    ViewData["Title"] = @language.GetKey("titleSetPassword");
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
@inject LanguageService language



<div class="container-fluid">
   
    <div class="d-flex justify-content-center" id="divFase1">
        <!-- Box  -->
        <div class="row col-12 justify-content-center custom-box mt-5" id="myBox">
            <div class="row box border-5 p-5">
                <!--text-center  -->
                <div class="container">
                    <div class="row mt-3">
                        <div class="mb-3">

                           
                            <div class="row text-center">
                               <h3>@ViewData["Title"]</h3>

                                <div class="row">                                  
                                    <partial name="_StatusMessage" for="StatusMessage" />
                                    <p class="text-info">
                                        @language.GetKey("txt2SetPassword")
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form id="set-password-form" method="post">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class="form-floating">
                                                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" />
                                                    <label asp-for="Input.NewPassword" class="form-label">@language.GetKey("password")</label>
                                                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                                </div>
                                                <div class="form-floating">
                                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
                                                    <label asp-for="Input.ConfirmPassword" class="form-label">@language.GetKey("confirmPassword")</label>
                                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                                </div>
                                                <button type="submit" class="w-100 btn btn-lg btn-primary">@language.GetKey("btnSetPassword")</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>                     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
