@model ATLManager.Models.Historicos.ReciboRecord
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager

@{
    ViewData["Title"] = "Details";
}
<link rel='stylesheet' type='text/css' media='screen' href='~/css/custom-box-12.css'>

@if (SignInManager.IsSignedIn(User))
{
    <!-- Fase 1  -->
    <!-- d-flex -->
    <div class="d-flex justify-content-center ms-2 pb-2" style="padding-left: 2%; padding-top: 0%;">
        <h1 class="me-3 fw-bold text-center mb-0">Detalhes da consulta</h1>
        <img src="~/images/icons/search-group.png" width="50" height="50">
    </div>
    <div class="d-flex justify-content-center mt-5 ">
        <!-- Box  -->
        <div class="row justify-content-center custom-box" id="myBox">
            <div class="row box border-5 p-5">
                <div class="container">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
                                    type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                Detalhes da fatura
                            </button>
                            <a class="nav-link" asp-action="Respostas" asp-route-id="@Model.ReciboRecordId">
                                <button class="nav-link mx-auto" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                                        type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                    Recibos
                                </button>
                            </a>
                        </div>
                        <div class="row text-center">
                            <div class="mb-3">                        
                                <dl class="row text-end">
                                    <div class="row">
                                        <dt class="col mr-2">
                                            @Html.DisplayNameFor(model => model.Name)
                                        </dt>
                                        <dd class="col text-left">
                                            @Html.DisplayFor(model => model.Name)
                                        </dd>
                                    </div>
                                     <div class="row">
                                        <dt class="col mr-2">
                                            @Html.DisplayNameFor(model => model.Price)
                                        </dt>
                                        <dd class="col text-left">
                                            @Html.DisplayFor(model => model.Price)
                                        </dd>
                                    </div>
                                    <div class="row">
                                        <dt class="col mr-2">
                                            @Html.DisplayNameFor(model => model.NIB)
                                        </dt>
                                        <dd class="col text-left">
                                            @Html.DisplayFor(model => model.NIB)
                                        </dd>
                                    </div>
                                    <div class="row">
                                        <dt class="col mr-2">
                                            @Html.DisplayNameFor(model => model.Description)
                                        </dt>

                                        <dd class="col text-left">
                                            @Html.DisplayFor(model => model.Description)
                                        </dd>
                                    </div>
                                      <div class="row">
                                        <dt class="col mr-2">
                                            @Html.DisplayNameFor(model => model.EmissionDate)
                                        </dt>

                                        <dd class="col text-left">
                                            @Html.DisplayFor(model => model.EmissionDate)
                                        </dd>
                                    </div>
                                    <div class="row">
                                        <dt class="col mr-2">
                                            @Html.DisplayNameFor(model => model.DateLimit)
                                        </dt>
                                        <dd class="col text-left">
                                            @Html.DisplayFor(model => model.DateLimit)
                                        </dd>
                                    </div>
                                </dl>
                                <hr />
                                <div class="d-flex text-center mt-4">
                                    <div class="col-8 text-right">
                                        <a asp-action="Index">
                                            <button type="button"
                                                    class="btn btn-secondary custom-button w-50" style="border-radius:6em">
                                                Voltar
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Box -->
        </div>
        <!-- // Fase 1 -->
    </div>
}