@page
@using ATLManager.Services;

@model ExternalLoginModel
@{
    ViewData["Title"] = language.GetKey("register");
}
@inject LanguageService language

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ATLManager</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ATLManager.styles.css" asp-append-version="true" />
    *@

    <link rel="stylesheet" type='text/css' media='screen' href="~/css/style.css">
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/slide-help.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/footer.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/menu.css'>
    <link rel="stylesheet" type='text/css' media='screen' href="~/css/site.css" asp-append-version="true" />

</head>
@if (!SignInManager.IsSignedIn(User))
{
<body class="body">

    <!-- Menu -->
    @* <ul>
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
    <li style="float:right"><a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
    <li style="float:right"><a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>*@
    <!-- / Menu -->
    <!-- Image -->
    <div class="container-image">
        <!-- <div class="image"></div> -->
        <img src="~/images/logo1.png" class="image" alt="ATLMANAGER">
    </div>

    <!-- / Image -->
    <!-- Botão de ajuda  -->

    <div class="container-btnHelp">
        <button class="custom-button">
            <img src="~/images/question.png" class="image-question" alt="Button Image">
        </button>
    </div>
    <!-- / Botão de ajuda  -->
    <!-- Menu Lateral de Ajuda -->
    <nav class="menu">
        <div class="first-container">
            <div class="custom-h1">
                <h1> Ajuda </h1>
            </div>

            <div class="search-container">
                <input type="text" id="search" placeholder="@language.GetKey("txtSearchHelpArticles")">
            </div>

            <div class="container-help-info">

                <div>
                    <button class="custom-button-info" id="info-button1">@language.GetKey("howToRegisterOnApp")</button>

                    <div id="info1" class="help-info1">
                        <p class="p-information">
                            @language.GetKey("txtHowToRegisterOnApp")
                        </p>
                    </div>
                </div>
                <br>
                <div>
                    <button class="custom-button-info" id="info-button2">@language.GetKey("howToRegisterViaFacebook")</button>

                    <div id="info2" class="help-info2">
                        <p class="p-information">
                            @language.GetKey("txtHowToRegisterViaFacebook")
                        </p>
                    </div>
                </div>
                <br>
                <div>
                    <button class="custom-button-info" id="info-button3">@language.GetKey("howToRegisterViaOutlook")</button>

                    <div id="info3" class="help-info3">
                        <p class="p-information">
                            @language.GetKey("txtHowToRegisterViaOutlook")
                        </p>
                    </div>
                </div>
                <br>
                <div>
                    <button class="custom-button-info" id="info-button4">@language.GetKey("howToRegisterViaTwitter")</button>

                    <div id="info4" class="help-info4">
                        <p class="p-information">
                            @language.GetKey("txtHowToRegisterViaTwitter")
                        </p>
                    </div>
                </div>
                <br>
                <div>
                    <button class="custom-button-info" id="info-button5">@language.GetKey("howToRegisterViaGoogle")</button>

                    <div id="info5" class="help-info5">
                        <p class="p-information">
                            @language.GetKey("txtHowToRegisterViaGoogle")
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="second-container">
            <a href="#">Menu Item 1</a>
            <a href="#">Menu Item 2</a>
            <a href="#">Menu Item 3</a>
        </div>
    </nav>


    <h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>

<div class="container-box">
    <!-- <div class="image"></div> -->
    <div class="box">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-registo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row-p">
                <div>
                    <label asp-for="Input.FirstName">@language.GetKey("nameAccount")</label>
                    <input class="input-text" class="input-text-row" asp-for="Input.FirstName" autocomplete="username" aria-required="true"><br><br>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="div-apelido">
                    <label asp-for="Input.LastName">@language.GetKey("lastNameAccount")</label>
                    <input asp-for="Input.LastName" class="input-text" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            </div>
            <br>
            <div>
                <label asp-for="Input.Email">@language.GetKey("email")</label>
                <input asp-for="Input.Email" class="input-text" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>

            </div>
            <br />
            <div class="row-p">
                <div>
                    <label asp-for="Input.Password">@language.GetKey("password")</label>
                    <input asp-for="Input.Password" class="input-text" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                @*<div style="padding:5px;">*@
                <div class="div-apelido">
                    <label asp-for="Input.ConfirmPassword">@language.GetKey("confirmPassword")</label>
                    <input asp-for="Input.ConfirmPassword" class="input-text" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

                <p id="external-login-description" class="text-info">
                    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
                    Please enter an email address for this site below and click the Register button to finish
                    logging in.
                </p>

            <div class="button-box">
                <button id="registerSubmit" type="submit" class="custom-submit">@language.GetKey("register")</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

    <script>
        let menuToggle = document.querySelector(".custom-button");
        let menu = document.querySelector(".menu");

        menuToggle.addEventListener("click", function () {
            menu.classList.toggle("open");
        });
    </script>



    <script>
        const instructionsButton = document.querySelector('.instructions-button');
        const instructionsList = document.querySelector('.instructions-list');

        instructionsButton.addEventListener('click', () => {
            instructionsList.classList.toggle('visible');
        });

    </script>

    <script>
        document.getElementById("info-button1").addEventListener("click", function () {
            var info = document.getElementById("info1");
            if (info.style.display === "none") {
                info.style.display = "block";
            } else {
                info.style.display = "none";
            }
        });

        document.getElementById("info-button2").addEventListener("click", function () {
            var info = document.getElementById("info2");
            if (info.style.display === "none") {
                info.style.display = "block";
            } else {
                info.style.display = "none";
            }
        });

        document.getElementById("info-button3").addEventListener("click", function () {
            var info = document.getElementById("info3");
            if (info.style.display === "none") {
                info.style.display = "block";
            } else {
                info.style.display = "none";
            }
        });

        document.getElementById("info-button4").addEventListener("click", function () {
            var info = document.getElementById("info4");
            if (info.style.display === "none") {
                info.style.display = "block";
            } else {
                info.style.display = "none";
            }
        });

        document.getElementById("info-button5").addEventListener("click", function () {
            var info = document.getElementById("info5");
            if (info.style.display === "none") {
                info.style.display = "block";
            } else {
                info.style.display = "none";
            }
        });

        document.getElementById("info-button6").addEventListener("click", function () {
            var info = document.getElementById("info6");
            if (info.style.display === "none") {
                info.style.display = "block";
            } else {
                info.style.display = "none";
            }
        });
    </script>
    }
</body>
</html>