@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

    <!-- Container -->
    <div class="container h-auto mt-auto">

        <!-- Botão de Ajuda -->
        <div class="row" style="padding-left: 6em;">
            <div class="col-3"></div>
            <div class="col-5"></div>
            <div class="col-4 text-right pb-2">
                <button class="btn btn-primary rounded-circle" id="question-button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <img src="~/images/question.png" alt="Imagem 1" class="img-fluid" width="15">
                </button>
            </div>
        </div>
        <!-- // Botão de Ajuda -->


        <div class="d-flex justify-content-center">
            <!-- Box  -->
            <div class="row col-6 justify-content-center custom-box">
                <div class="row box border-5">
                <form id="account" method="post">
                        <div class="mb-3">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <label asp-for="Input.Email" class="form-label" autocomplete="username" aria-required="true">Email</label>
                            <input asp-for="Input.Email" class="form-control" id="email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.Password" class="form-label" autocomplete="current-password" aria-required="true">Password</label>
                            <input asp-for="Input.Password" class="form-control" id="password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            <div class="checkbox"> <!-- sem classe -->
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>

                            <div class="d-flex justify-content-between mt-2">
                                <a id="forgot-password" asp-page="./ForgotPassword" class="custom-link">Esqueceu-se da password?</a>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="custom-link">Criar conta</a>
                            </div>
                        </div>

                        <div class="text-center">
                            <button id="login-submit" type="submit" class="btn btn-primary btn-block mx-auto custom-button"
                                    style="width: 20%;">
                                Login
                            </button>
                        </div>
                        <div class="text-center mt-3 p-1">
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="custom-link">Reenvie email de confirmação</a>
                        </div>
                        </form>
                        <div class="text-center mt-3 fw-bolder p-1">Fazer o Inicio de Sessão via:</div>

                        <div class="d-flex mt-3 justify-content-center">
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">

                                    @foreach (var provider in Model.ExternalLogins)
                                    {

                                        @if (provider.Name.Equals("Facebook"))
                                        {

                                        <button type="submit" class="text-center border-0" style="background-color:white" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                    <img src="~/images/social/facebook.png" class="ms-3" width="30" height="30">
                                            </button>

                                        }

                                        @if (provider.Name.Equals("Microsoft"))
                                        {
                                            <button type="submit" class="text-center border-0" style="background-color:white" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                <img src="~/images/social/outlook.png" class="ms-3" width="30" height="30">
                                            </button>

                                        }

                                        @if (provider.Name.Equals("Twitter"))
                                        {
                                        <button type="submit" class="text-center border-0" style="background-color:white" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                <img src="~/images/social/twitter.png" class="ms-3" width="30" height="30">
                                            </button>

                                        }

                                        @if (provider.Name.Equals("Google"))
                                        {
                                        <button type="submit" class="text-center border-0" style="background-color:white" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                <img src="~/images/social/google.png" class="ms-3" width="30" height="30">
                                            </button>

                                        }

                                    }
                            </form>
                        }
                    }
                        </div>
                    </div>
            </div>
            <!-- // Box -->
        </div>
    </div>
    <!-- // Container -->

    <!-- Slide Left (Help) -->
    <div class="offcanvas offcanvas-end h-100" data-bs-backdrop="false" style="margin-top: 10%; border-radius: 15px"
         tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel h">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Ajuda</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!-- canvas body  -->
            <!-- // canvas body  -->
        </div>
    </div>
    <!-- // Slide Left (Help) -->

          

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

  