@page
@using ATLManager.Models;
@model LoginModel

@{
    ViewData["Title"] = @language.GetKey("login");
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
@inject LanguageService language

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ATLManager</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ATLManager.styles.css" asp-append-version="true" />
    *@
    <link rel="stylesheet" type='text/css' media='screen' href="~/css/style.css">
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/slide-help.css'>
</head>

<body class="body">


    <!-- Image -->
    <div class="container-image">
        <!-- <div class="image"></div> -->
        <img src="~/images/logo1.png" class="image" salt="ATLMANAGER">
    </div>
    <!-- / Image -->
    <!-- Botão de ajuda  -->
    <div class="container-btnHelp">
        <button class="custom-button">
            <img src="~/images/question.png" class="image-question" alt="Button Image">
        </button>
    </div>
    <!-- / Botão de ajuda  -->

    <!-- Menu Lateral de Ajuda -->
    <nav class="menu">

        <div class="first-container">
            <div class="container-top">
                <div class="custom-h1">
                    <h1> @language.GetKey("help") </h1>
                </div>

                <div class="search-container">
                    <input type="text" id="search" placeholder="@language.GetKey("txtSearchHelpArticles")">
                </div>
            </div>


            <div class="container-help-info">

                <div>
                    <button class="custom-button-info" id="info-button1">@language.GetKey("howToLoginOnApp")</button>

                    <div id="info1" class="help-info1">
                        <p class="p-information">
                            @language.GetKey("txtHowToLoginOnApp")
                        </p>
                    </div>
                </div>
                <br>
                <div>
                    <button class="custom-button-info" id="info-button2">@language.GetKey("howToLoginViaFacebook")</button>

                    <div id="info2" class="help-info2">
                        <p class="p-information">
                            @language.GetKey("txtHowToLoginViaFacebook")
                        </p>
                    </div>
                </div>
                <br>
                <div>
                    <button class="custom-button-info" id="info-button3">@language.GetKey("howToLoginViaOutlook")</button>

                    <div id="info3" class="help-info3">
                        <p class="p-information">
                            @language.GetKey("txtHowToLoginViaOutlook")
                        </p>
                    </div>
                </div>
                <br>
                <div>
                    <button class="custom-button-info" id="info-button4">@language.GetKey("howToLoginViaTwitter")</button>

                    <div id="info4" class="help-info4">
                        <p class="p-information">
                            @language.GetKey("txtHowToLoginViaTwitter")
                        </p>
                    </div>
                </div>
                <br>
                <div>
                    <button class="custom-button-info" id="info-button5">@language.GetKey("howToLoginViaGoogle")</button>

                    <div id="info5" class="help-info5">
                        <p class="p-information">
                            @language.GetKey("txtHowToLoginViaGoogle")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- / Menu Lateral de Ajuda -->


    <div class="container-box">
        <!-- <div class="image"></div> -->
        <div class="box-login">
            <div class="form">

            

            <form id="account" method="post">

                <div class="div-email">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="Input.Email" class="form-label">@language.GetKey("email")</label>
                    <input asp-for="Input.Email" class="input-text inputLabel" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>


                <div class="div-password">
                    <label asp-for="Input.Password" class="form-label">@language.GetKey("password")</label>
                    <input asp-for="Input.Password" class="input-text" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @* @Html.DisplayNameFor(m => m.Input.RememberMe) *@
                            @language.GetKey("rememberMe")
                    </label>
                </div>

                <div>
                        <a id="forgot-password" asp-page="./ForgotPassword" style="float: left;" class="pClass">@language.GetKey("forgetPassword")</a>
                </div>

                <div>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="float: right;" class="pClass">@language.GetKey("createAccount")</a>
                    </div>

                <br>
             
                <div class="button-box-login">
                    <button id="login-submit" type="submit" class="custom-submit">@language.GetKey("login")</button>
                </div>

                <div>
                    <p style="text-align:center">
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="pClass">@language.GetKey("reSentEmailConfirmation")</a>
                    </p>
                </div>



                <div class="login-option">
                    <p>@language.GetKey("doLoginBy")</p>
                </div>

                 </form>


                <div>
                    <div>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div class="icons-special-div">
                           
                                        @foreach (var provider in Model.ExternalLogins)
                                        {

                                            @if (provider.Name.Equals("Facebook"))
                                            {

                                                <button type="submit" class="custom_namev1" name="provider" value="@provider.Name" title="@language.GetKey("txtHoverLoginFacebook")">
                                                    <img src="~/images/facebook.png" style="width:40px;height:40px;" alt="Button Image" class="image-question">
                                                </button>

                                            }

                                            @if (provider.Name.Equals("Microsoft"))
                                            {
                                                <button type="submit" class="custom_namev1" name="provider" value="@provider.Name" title="@language.GetKey("txtHoverLoginMicrosoft")">
                                                    <img src="~/images/outlook.png" style="width:40px;height:40px;display:flex;" alt="Button Image" class="image-question">
                                                </button>

                                            }

                                            @if (provider.Name.Equals("Twitter"))
                                            {
                                                <button type="submit" class="custom_namev1" name="provider" value="@provider.Name" title="@language.GetKey("txtHoverLoginTwitter")">
                                                    <img src="~/images/twitter.png" style="width:40px;height:40px;display:flex;" alt="Button Image" class="image-question">
                                                </button>

                                            }

                                            @if (provider.Name.Equals("Google"))
                                            {
                                                <button type="submit" class="custom_namev1" name="provider" value="@provider.Name" title="@language.GetKey("txtHoverLoginGoogle")">
                                                    <img src="~/images/google.png" style="width:40px;height:40px;display:flex;" alt="Button Image" class="image-question">
                                                </button>

                                            }

                                        }
                             
                                </div>
                            </form>
                        }
                    }


                    </div>
                </div>

           

         


            </div>
        </div>
    </div>

 
@* ------------------------------------- *@

    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

        <script>
            let menuToggle = document.querySelector(".custom-button");
            let menu = document.querySelector(".menu");

            menuToggle.addEventListener("click", function () {
                menu.classList.toggle("open");
            });
        </script>



        <script>
            const instructionsButton = document.querySelector('.instructions-button');
            const instructionsList = document.querySelector('.instructions-list');

            instructionsButton.addEventListener('click', () => {
                instructionsList.classList.toggle('visible');
            });

        </script>

        <script>
            document.getElementById("info-button1").addEventListener("click", function () {
                var info = document.getElementById("info1");
                if (info.style.display === "none") {
                    info.style.display = "block";
                } else {
                    info.style.display = "none";
                }
            });

            document.getElementById("info-button2").addEventListener("click", function () {
                var info = document.getElementById("info2");
                if (info.style.display === "none") {
                    info.style.display = "block";
                } else {
                    info.style.display = "none";
                }
            });

            document.getElementById("info-button3").addEventListener("click", function () {
                var info = document.getElementById("info3");
                if (info.style.display === "none") {
                    info.style.display = "block";
                } else {
                    info.style.display = "none";
                }
            });

            document.getElementById("info-button4").addEventListener("click", function () {
                var info = document.getElementById("info4");
                if (info.style.display === "none") {
                    info.style.display = "block";
                } else {
                    info.style.display = "none";
                }
            });

            document.getElementById("info-button5").addEventListener("click", function () {
                var info = document.getElementById("info5");
                if (info.style.display === "none") {
                    info.style.display = "block";
                } else {
                    info.style.display = "none";
                }
            });

            document.getElementById("info-button6").addEventListener("click", function () {
                var info = document.getElementById("info6");
                if (info.style.display === "none") {
                    info.style.display = "block";
                } else {
                    info.style.display = "none";
                }
            });
        </script>
        </body>
