@page
@using ATLManager.Services;
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager
@model LoginModel

@{
    ViewData["Title"] = @language.GetKey("login");
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
@inject LanguageService language

@if (!SignInManager.IsSignedIn(User))
{
    <!-- Container -->
    <div class="container h-auto mt-auto">

        <!-- Botão de Ajuda -->
        <div class="row" style="padding-top: 2em;padding-left: 6em;">
            <div class="col-3"></div>
            <div class="col-5"></div>
            <div class="col-4 text-right pb-2">
                <button class="btn btn-primary rounded-circle" id="btn-ajuda">
                    <img src="~/images/question.png" alt="Imagem 1" class="img-fluid" width="15">
                </button>
            </div>
        </div>
        <!-- // Botão de Ajuda -->


        <div class="d-flex justify-content-center">
            <!-- Box  -->
            <div class="row col-6 justify-content-center custom-box p-3">
                <div class="row box border-5">
                    <form id="account" method="post">


                        <div class="mb-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <label asp-for="Input.Email" class="form-label" autocomplete="username" aria-required="true">@language.GetKey("email")</label>
                            <input asp-for="Input.Email" class="form-control" id="email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.Password" class="form-label" autocomplete="current-password" aria-required="true">@language.GetKey("password")</label>
                            <input asp-for="Input.Password" class="form-control" id="password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            <div class="checkbox"> <!-- sem classe -->
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @* @Html.DisplayNameFor(m => m.Input.RememberMe) *@
                                    @language.GetKey("rememberMe")
                                </label>
                            </div>

                            <div class="d-flex justify-content-between mt-2">
                                <a id="forgot-password" asp-page="./ForgotPassword" class="custom-link">@language.GetKey("forgetPassword")</a>
                                <a asp-page="./RegisterType" asp-route-returnUrl="@Model.ReturnUrl" class="custom-link">@language.GetKey("createAccount")</a>
                            </div>
                        </div>

                        <div class="text-center">
                            <button id="login-submit" type="submit" class="btn btn-primary btn-block mx-auto custom-button w-25">
                                @language.GetKey("login")
                            </button>
                        </div>
                        <div class="text-center mt-3 p-1">
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="custom-link">@language.GetKey("reSentEmailConfirmation")</a>
                        </div>
                    </form>
                    <div class="text-center mt-3 fw-bolder p-1">@language.GetKey("doLoginBy")</div>

                    <div class="d-flex mt-3 justify-content-center">
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                            article
                                            about setting up this ASP.NET application to support logging in via external services
                                        </a>.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">

                                    @foreach (var provider in Model.ExternalLogins)
                                    {

                                        @if (provider.Name.Equals("Facebook"))
                                        {

                                            <button type="submit" class="text-center border-0" style="background-color:white" name="provider" value="@provider.Name" title="@language.GetKey("txtHoverLoginFacebook")">
                                                <img src="~/images/social/facebook.png" class="ms-3" width="30" height="30">
                                            </button>

                                        }

                                        @if (provider.Name.Equals("Microsoft"))
                                        {
                                            <button type="submit" class="text-center border-0" style="background-color:white" name="provider" value="@provider.Name" title="@language.GetKey("txtHoverLoginMicrosoft")">
                                                <img src="~/images/social/outlook.png" class="ms-3" width="30" height="30">
                                            </button>

                                        }

                                        @if (provider.Name.Equals("Twitter"))
                                        {
                                            <button type="submit" class="text-center border-0" style="background-color:white" name="provider" value="@provider.Name" title="@language.GetKey("txtHoverLoginTwitter")">
                                                <img src="~/images/social/twitter.png" class="ms-3" width="30" height="30">
                                            </button>

                                        }

                                        @if (provider.Name.Equals("Google"))
                                        {
                                            <button type="submit" class="text-center border-0" style="background-color:white" name="provider" value="@provider.Name" title="@language.GetKey("txtHoverLoginGoogle")">
                                                <img src="~/images/social/google.png" class="ms-3" width="30" height="30">
                                            </button>

                                        }

                                    }
                                </form>
                            }
                        }
                    </div>
                </div>
            </div>
            <!-- // Box -->
        </div>
    </div>
    <!-- // Container -->
	

    
		    <!-- Slide de Ajuda  -->
    <div id="menu-ajuda" class="bg-primary animate__animated animate__slideInLeft">

        <div class="row text-center mt-2">
            <div class="col-10 ">
                <h2 class="text-white ms-5">Ajuda</h2>
            </div>

            <div class="col-2">
                <button type="button" class="btn-close text-reset" id="close-ajuda" aria-label="Close"></button>
            </div>
        </div>
        <div class="">
            <input class="form-control mr-sm-2 mb-3 p-2 text-center" type="search"
                placeholder="Procure artigos que o ajude" aria-label="Search" style="border-radius: 10px;">
        </div>
        <!-- -->
        <ul class="row justify-content-center p-4 bg-white mt-4 "
            style="position: absolute;   right: 0em; left: 0em; height: 80%;">
            <li class="row">
                <button type="button" class="btn btn-help helpShadowButton border-0 mt-3 fw-bold" id="showText1">
                    <div class="d-flex align-items-center justify-content-center">

                        <span>@language.GetKey("howToLoginOnApp")</span>
                        <img src="~/images/guide/dropdown.png" style="padding-left: 2%;">
                    </div>
                </button>


                <span class="myText p-3 helpShadowButton" id="displayText1" style="display: none; position: relative;">
                  @language.GetKey("txtHowToLoginOnApp");

                </span>
            </li>

            <li class="row">
                <button type="button" class="btn btn-help helpShadowButton border-0 mt-3 fw-bold" id="showText2">
                    <div class="d-flex align-items-center justify-content-center">

                        <span>@language.GetKey("howToLoginViaFacebook")</span>
                        <img src="~/images/guide/dropdown.png" style="padding-left: 2%;">
                    </div>
                </button>


                <span class="myText p-3 helpShadowButton" id="displayText2" style="display: none; position: relative;">
                   @language.GetKey("txtHowToLoginViaFacebook")
                </span>
            </li>

			<li class="row">
                <button type="button" class="btn btn-help helpShadowButton border-0 mt-3 fw-bold" id="showText3">
                    <div class="d-flex align-items-center justify-content-center">

                        <span>@language.GetKey("howToLoginViaGoogle")</span>
                        <img src="~/images/guide/dropdown.png" style="padding-left: 2%;">
                    </div>
                </button>


                <span class="myText p-3 helpShadowButton" id="displayText3" style="display: none; position: relative;">
                   @language.GetKey("txtHowToLoginViaGoogle")
                </span>
            </li>


			<li class="row">
                <button type="button" class="btn btn-help helpShadowButton border-0 mt-3 fw-bold" id="showText4">
                    <div class="d-flex align-items-center justify-content-center">

                        <span>@language.GetKey("howToLoginViaFacebook")</span>
                        <img src="~/images/guide/dropdown.png" style="padding-left: 2%;">
                    </div>
                </button>


                <span class="myText p-3 helpShadowButton" id="displayText4" style="display: none; position: relative;">
                   @language.GetKey("txtHowToLoginViaFacebook")
                </span>
            </li>

			<li class="row">
                <button type="button" class="btn btn-help helpShadowButton border-0 mt-3 fw-bold" id="showText5">
                    <div class="d-flex align-items-center justify-content-center">

                        <span>@language.GetKey("howToLoginViaTwitter")</span>
                        <img src="~/images/guide/dropdown.png" style="padding-left: 2%;">
                    </div>
                </button>


                <span class="myText p-3 helpShadowButton" id="displayText5" style="display: none; position: relative;">
                   @language.GetKey("txtHowToLoginViaTwitter")
                </span>
            </li>           
        </ul>
    </div>
    <!-- // Slide de Ajuda  -->

	<script type="text/javascript">
        // Script: Sempre que o botão dentro do menu ajuda é clicado mostra ou esconde a informação do mesmo
        document.getElementById('showText2').addEventListener('click', function () {
            var displayText = document.getElementById('displayText2');
            var showTextBtn = document.getElementById('showText2');

            if (displayText.style.display === 'none') {
                displayText.style.display = 'block';
                showTextBtn.classList.remove('btn-help', 'btn');
                showTextBtn.classList.add('myButton');

            } else {
                displayText.style.display = 'none';
                showTextBtn.classList.remove('myButton');
                showTextBtn.classList.add('btn-help');
            }
        });
        //

        // Script: Sempre que o botão dentro do menu ajuda é clicado mostra ou esconde a informação do mesmo
        document.getElementById('showText3').addEventListener('click', function () {
            var displayText = document.getElementById('displayText3');
            var showTextBtn = document.getElementById('showText3');

            if (displayText.style.display === 'none') {
                displayText.style.display = 'block';
                showTextBtn.classList.remove('btn-help', 'btn');
                showTextBtn.classList.add('myButton');

            } else {
                displayText.style.display = 'none';
                showTextBtn.classList.remove('myButton');
                showTextBtn.classList.add('btn-help');
            }
        });
        //

        // Script: Sempre que o botão dentro do menu ajuda é clicado mostra ou esconde a informação do mesmo
        document.getElementById('showText4').addEventListener('click', function () {
            var displayText = document.getElementById('displayText4');
            var showTextBtn = document.getElementById('showText4');

            if (displayText.style.display === 'none') {
                displayText.style.display = 'block';
                showTextBtn.classList.remove('btn-help', 'btn');
                showTextBtn.classList.add('myButton');

            } else {
                displayText.style.display = 'none';
                showTextBtn.classList.remove('myButton');
                showTextBtn.classList.add('btn-help');
            }
        });
        //

        // Script: Sempre que o botão dentro do menu ajuda é clicado mostra ou esconde a informação do mesmo
        document.getElementById('showText5').addEventListener('click', function () {
            var displayText = document.getElementById('displayText5');
            var showTextBtn = document.getElementById('showText5');

            if (displayText.style.display === 'none') {
                displayText.style.display = 'block';
                showTextBtn.classList.remove('btn-help', 'btn');
                showTextBtn.classList.add('myButton');

            } else {
                displayText.style.display = 'none';
                showTextBtn.classList.remove('myButton');
                showTextBtn.classList.add('btn-help');
            }
        });
        //
		// Add the following code if you want the name of the file appear on select
		$(".custom-file-input").on("change", function () {
			var fileName = $(this).val().split("\\").pop();
			$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
	</script>         

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
}