@page
@using ATLManager.Models;
@model LoginModel

@{
    ViewData["Title"] = @language.GetKey("login");
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
@inject LanguageService language

    <!-- Container -->
    <div class="container h-auto mt-auto">

    <!-- Image -->
    @*<div class="container-image">*@
        <!-- <div class="image"></div> -->
        @*<img src="~/images/logo1.png" class="image" salt="ATLMANAGER">*@
    @*</div>*@
    <!-- / Image -->
    <!-- Botão de ajuda  -->
 @*   <div class="container-btnHelp">
        <button class="custom-button">
            <img src="~/images/question.png" class="image-question" alt="Button Image">
        </button>
    </div>*@
    <!-- / Botão de ajuda  -->

    <!-- Menu Lateral de Ajuda -->
    @* <nav class="menu">

        <div class="first-container">
            <div class="container-top">
                <div class="custom-h1">
                    <h1> @language.GetKey("help") </h1>
                </div>

                <div class="search-container">
                    <input type="text" id="search" placeholder="@language.GetKey("txtSearchHelpArticles")">
                </div>
            </div>


            <div class="container-help-info">

                <div>
                    <button class="custom-button-info" id="info-button1">@language.GetKey("howToLoginOnApp")</button>

                    <div id="info1" class="help-info1">
                        <p class="p-information">
                            @language.GetKey("txtHowToLoginOnApp")
                        </p>
                    </div>
                </div>
                <br>
                <div>
                    <button class="custom-button-info" id="info-button2">@language.GetKey("howToLoginViaFacebook")</button>

                    <div id="info2" class="help-info2">
                        <p class="p-information">
                            @language.GetKey("txtHowToLoginViaFacebook")
                        </p>
                    </div>
                </div>
                <br>
                <div>
                    <button class="custom-button-info" id="info-button3">@language.GetKey("howToLoginViaOutlook")</button>

                    <div id="info3" class="help-info3">
                        <p class="p-information">
                            @language.GetKey("txtHowToLoginViaOutlook")
                        </p>
                    </div>
                </div>
                <br>
                <div>
                    <button class="custom-button-info" id="info-button4">@language.GetKey("howToLoginViaTwitter")</button>

                    <div id="info4" class="help-info4">
                        <p class="p-information">
                            @language.GetKey("txtHowToLoginViaTwitter")
                        </p>
                    </div>
                </div>
                <br>
                <div>
                    <button class="custom-button-info" id="info-button5">@language.GetKey("howToLoginViaGoogle")</button>

                    <div id="info5" class="help-info5">
                        <p class="p-information">
                            @language.GetKey("txtHowToLoginViaGoogle")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </nav> *@
    <!-- / Menu Lateral de Ajuda -->
        <!-- Botão de Ajuda -->
        <div class="row" style="padding-left: 6em;">
            <div class="col-3"></div>
            <div class="col-5"></div>
            <div class="col-4 text-right pb-2">
                <button class="btn btn-primary rounded-circle" id="question-button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <img src="~/images/question.png" alt="Imagem 1" class="img-fluid" width="15">
                </button>
            </div>
        </div>
        <!-- // Botão de Ajuda -->


        <div class="d-flex justify-content-center">
            <!-- Box  -->
            <div class="row col-6 justify-content-center custom-box">
                <div class="row box border-5">
                <form id="account" method="post">
                        <div class="mb-3">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <label asp-for="Input.Email" class="form-label" autocomplete="username" aria-required="true">@language.GetKey("email")</label>
                            <input asp-for="Input.Email" class="form-control" id="email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.Password" class="form-label" autocomplete="current-password" aria-required="true">@language.GetKey("password")</label>
                            <input asp-for="Input.Password" class="form-control" id="password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            <div class="checkbox"> <!-- sem classe -->
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @* @Html.DisplayNameFor(m => m.Input.RememberMe) *@
                                    @language.GetKey("rememberMe")
                                </label>
                            </div>

                            <div class="d-flex justify-content-between mt-2">
                                <a id="forgot-password" asp-page="./ForgotPassword" class="custom-link">@language.GetKey("forgetPassword")</a>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="custom-link">@language.GetKey("createAccount")</a>
                            </div>
                        </div>

                        <div class="text-center">
                            <button id="login-submit" type="submit" class="btn btn-primary btn-block mx-auto custom-button"
                                    style="width: 20%;">
                               @language.GetKey("login")
                            </button>
                        </div>
                        <div class="text-center mt-3 p-1">
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="custom-link">@language.GetKey("reSentEmailConfirmation")</a>
                        </div>
                        </form>
                        <div class="text-center mt-3 fw-bolder p-1">@language.GetKey("doLoginBy")</div>

                        <div class="d-flex mt-3 justify-content-center">
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">

                                    @foreach (var provider in Model.ExternalLogins)
                                    {

                                        @if (provider.Name.Equals("Facebook"))
                                        {

                                        <button type="submit" class="text-center border-0" style="background-color:white" name="provider" value="@provider.Name" title="@language.GetKey("txtHoverLoginFacebook")">
                                                    <img src="~/images/social/facebook.png" class="ms-3" width="30" height="30">
                                            </button>

                                        }

                                        @if (provider.Name.Equals("Microsoft"))
                                        {
                                            <button type="submit" class="text-center border-0" style="background-color:white" name="provider" value="@provider.Name" title="@language.GetKey("txtHoverLoginMicrosoft")">
                                                <img src="~/images/social/outlook.png" class="ms-3" width="30" height="30">
                                            </button>

                                        }

                                        @if (provider.Name.Equals("Twitter"))
                                        {
                                        <button type="submit" class="text-center border-0" style="background-color:white" name="provider" value="@provider.Name" title="@language.GetKey("txtHoverLoginTwitter")">
                                                <img src="~/images/social/twitter.png" class="ms-3" width="30" height="30">
                                            </button>

                                        }

                                        @if (provider.Name.Equals("Google"))
                                        {
                                        <button type="submit" class="text-center border-0" style="background-color:white" name="provider" value="@provider.Name" title="@language.GetKey("txtHoverLoginGoogle")">
                                                <img src="~/images/social/google.png" class="ms-3" width="30" height="30">
                                            </button>

                                        }

                                    }
                            </form>
                        }
                    }
                        </div>
                    </div>
            </div>
            <!-- // Box -->
        </div>
    </div>
    <!-- // Container -->

    <!-- Slide Left (Help) -->
    <div class="offcanvas offcanvas-end h-100" data-bs-backdrop="false" style="margin-top: 10%; border-radius: 15px"
         tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel h">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">@language.GetKey("help") </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!-- canvas body  -->
            <!-- // canvas body  -->
        </div>
    </div>
    <!-- // Slide Left (Help) -->

          

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

  