@model IEnumerable<ATLManager.ViewModels.LowerAccountViewModel>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.User.FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User.LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AtlName)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.User.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AtlName)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Profile.ContaId">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Profile.ContaId">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Profile.ContaId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
