@using ATLManager.Services;
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager
@inject LanguageService language

@{
    ViewData["Title"] = language.GetKey("titleAboutUs");
}

@if (!SignInManager.IsSignedIn(User))
{
    <!-- Fase 1  -->
	<!-- d-flex -->
	<!-- Container -->
	<div class="container-fluid mt-1">
		<div class="d-flex justify-content-center" id="divFase1">
			<!-- Box  -->
			<div class="row justify-content-center custom-box col-9" id="myBox">
				<div class="row box border-5 p-5">
					<!--text-center  -->
					<div class="container">
						<div class="row mt-3">
							<h1 class="display-4 text-center mb-4">Contact Us</h1>
							<div class="row">
								@*<p>@language.GetKey("txt1ContactUs")</p>*@
								@*<p>@language.GetKey("txtWelcomeToPageAboutUs") @language.GetKey("txt3ContactUs")</p>*@
							@*	<h1 class="display-4">@language.GetKey("")</h1>*@
							</div>
							<div class="d-flex justify-content-center mb-3">
								<div class="row col-8">
									<div class="col-md">
										<p>@language.GetKey("txt1AboutUs")</p>
										<p>@language.GetKey("txt2AboutUs")</p>
										<p>@language.GetKey("txt3AboutUs")</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- // Box -->
	</div>

 }


<!-- SCRIPT PARA CLICAR NO MENU E MUDAR LI SELECIONADO (ACTIVE)  -->
<script>
    $(document).ready(function () {
        var activeId = "about-us"; // desired li element
        $('#' + activeId).addClass('active'); // add the active class to the desired li element
        $('.nav-link').click(function () {
            // check if the clicked nav-link has an id of "language"
            if ($(this).attr('id') === 'language') {
                // do nothing
                return;
            }
            $('.nav-link').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>
