@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager

@using ATLManager.Services
@inject LanguageService language


@{
    ViewData["Title"] = "Historico";
}

<link rel='stylesheet' type='text/css' media='screen' href='~/css/custom-box-12.css'>

@if (SignInManager.IsSignedIn(User))
{
    <div class="d-flex justify-content-center ms-2 pb-2" style="padding-left: 2%; padding-top: 0%;">
        <h1 class="me-3 fw-bold text-center mb-0">Consulta de histórico</h1>
        <img src="~/images/icons/search-group.png" width="50" height="50">
    </div>
    <div class="row" style="padding-left: 6em;">
        <div class="col text-right pb-2" id="divQuestion">
            <button class="btn btn-primary rounded-circle" id="btn-ajuda">
                <img src="~/images/question.png" alt="Imagem 1" class="img-fluid" width="15">
            </button>
        </div>
    </div>
    <!-- Fase 1  -->
    <!-- d-flex -->
    <div class="d-flex justify-content-center mt-3">
        <!-- Box  -->
        <div class="row justify-content-center custom-box" id="myBox">
            <div class="row box border-5 p-3">
                <div class="container">                  
                    <div class="row mt-3 text-center align-items-center">
                        <div class="row d-flex justify-content-center">
                            <div class="row mb-3">
                                <div class="row mb-3"> 
                                    <div class="col justify-content-center">
                                        <img src="~/images/history_page/visita_estudo.png" style="width:25%">
                                    </div>

                                    <div class="col justify-content-center">
                                        <img src="~/images/history_page/atividade.png" style="width:25%">
                                    </div>

                                    <div class="col justify-content-center">
                                        <img src="~/images/history_page/funcionario.png" style="width:25%">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col justify-content-center">
                                        <a asp-controller="VisitaEstudoRecords" asp-action="Index" class="btn btn-primary custom-button"
                                           style="border-radius:6em;width:60%;">
                                            Visitas de Estudo
                                        </a>
                                    </div>

                                    <div class="col justify-content-center">
                                        <a asp-controller="AtividadeRecords" asp-action="Index" class="btn btn-primary custom-button"
                                           style=" border-radius:6em;width:60%;">
                                            Atividades
                                        </a>
                                    </div>

                                    <div class="col justify-content-center">
                                        <a asp-controller="FuncionarioRecords" asp-action="Index" class="btn btn-primary custom-button"
                                           style=" border-radius:6em;width:60%;">
                                            Funcionários
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="row mb-3">
                                <div class="row mb-3">
                                    <div class="col justify-content-center">
                                        <img src="~/images/history_page/refeicao.png" style="width:25%">
                                    </div>

                                    <div class="col justify-content-center">
                                        <img src="~/images/history_page/formulario.png" style="width:25%">
                                    </div>

                                    <div class="col justify-content-center">
                                        <img src="~/images/history_page/fatura.png" style="width:25%">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col justify-content-center">
                                        <a asp-controller="RefeicaoRecords" asp-action="Index" class="btn btn-primary custom-button"
                                           style=" border-radius:6em;width:60%;">
                                            Refeições
                                        </a>
                                    </div>

                                    <div class="col justify-content-center">
                                        <a asp-controller="FormularioRecords" asp-action="Index" class="btn btn-primary custom-button"
                                           style=" border-radius:6em;width:60%;">
                                            Formulários
                                        </a>
                                    </div>

                                    <div class="col justify-content-center">
                                        <a asp-controller="ReciboRecords" asp-action="Index" class="btn btn-primary custom-button"
                                           style=" border-radius:6em;width:60%;">
                                            Recibos
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="row mb-2">
                                    <div class="col justify-content-center">
                                      
                                    </div>

                                    <div class="col justify-content-center">
                                        <img src="~/images/history_page/educando.png" style="width:25%">
                                    </div>

                                    <div class="col justify-content-center">
                                      
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col justify-content-center">
                                      
                                    </div>

                                    <div class="col justify-content-center">
                                        <a asp-controller="EducandoRecords" asp-action="Index" class="btn btn-primary custom-button"
                                           style=" border-radius:6em;width:60%;">
                                            Educandos
                                        </a>
                                    </div>

                                    <div class="col justify-content-center">
                                       
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                       

                       @* <div class="col">
                           
                        </div>

               
                        <div class="row mb-3">
                            <div class="col"></div>
                            <div class="col">
                               
                            </div>
                           
                            <div class="col"></div>
                        </div>
                      *@
                    </div>
                </div>
            </div>
            <!-- // Box -->
        </div>
        <!-- // Fase 1 -->
    </div>

    <!-- Slide de Ajuda  -->
    <div id="menu-ajuda" class="bg-primary animate__animated animate__slideInLeft">
        <div class="row text-center mt-2">
            <div class="col-10 ">
                <h2 class="text-white ms-5">@language.GetKey("help")</h2>
            </div>
            <div class="col-2">
                <button type="button" class="btn-close text-reset" id="close-ajuda" aria-label="Close"></button>
            </div>
        </div>
        <div class="">
            <input class="form-control mr-sm-2 mb-3 p-2 text-center" type="search"
                   placeholder="@language.GetKey("txtSearchHelpArticles")" aria-label="Search" style="border-radius: 10px;">
        </div>
        <!-- -->
        <ul class="row justify-content-center p-4 bg-white mt-4 "
            style="position: absolute; right: 0em; left: 0em; height: 80%;">
            <li class="row">
                <button type="button" class="btn btn-help helpShadowButton border-0 mt-3 fw-bold" id="showText1">
                    <div class="d-flex align-items-center justify-content-center">
                        <span>@language.GetKey("howtohistorico")</span>
                        <img src="~/images/guide/dropdown.png" style="padding-left: 2%;">
                    </div>
                </button>
                <span class="myText p-3 helpShadowButton" id="displayText1" style="display: none; position: relative;">
                    @language.GetKey("showhowtohistorico")
                </span>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/terms.png" class="">
                        </div>
                        <div class="col">
                            <span>@language.GetKey("readarticles")</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center">
                        <div class="col-3">
                            <img src="~/images/guide/comunity.png" class="">
                        </div>
                        <div class="col">
                            <span>@language.GetKey("askcomunity")</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/new.png" class="">
                        </div>
                        <div class="col">
                            <span>@language.GetKey("newsupdates")</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/feedback.png" class="">
                        </div>
                        <div class="col">
                            <span>
                                <a asp-area="" asp-controller="Home" asp-action="Contacts" style="text-decoration:none;color:inherit;">
                                    @language.GetKey("givefeedback")
                                </a>
                            </span>
                        </div>
                    </div>

                </button>
            </li>
        </ul>
    </div>
    <!-- // Slide de Ajuda  -->

}

