@model ATLManager.Models.Notificacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notificacao</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Mensagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNotificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNotificacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
