@model ATLManager.ViewModels.AgrupamentoCreateViewModel
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager
@using ATLManager.Services
@inject LanguageService language

@{
    ViewData["Title"] = @language.GetKey("menuAgrupamento");
}
<link rel='stylesheet' type='text/css' media='screen' href='~/css/custom-box-12.css'>
<title>@ViewData["Title"]</title>
@if (SignInManager.IsSignedIn(User))
{
 
	<!-- Fase 1  -->
	<!-- d-flex -->
	<!-- Container -->
	<div class="container-fluid">
		<div class="d-flex justify-content-center ms-2 pb-2" style="padding-left: 2%; padding-top: 0%;">
            <h1 class="me-3 fw-bold text-center mb-0">@language.GetKey("tcriar") @language.GetKey("menuAgrupamento")</h1>
			<img src="~/images/icons/add-group.png" width="50" height="50">
		</div>

        <div class="row" style="padding-left: 6em;">
            <div class="col text-right pb-2" id="divQuestion">
                <button class="btn btn-primary rounded-circle" id="btn-ajuda">
                    <img src="~/images/question.png" alt="Imagem 1" class="img-fluid" width="15">
                </button>
            </div>
        </div>
		<div class="d-flex justify-content-center">
			<!-- Box  -->
			<div class="row justify-content-center custom-box" id="myBox">
				<div class="row box border-5 p-4">

					<div class="container">
						<div class="row mt-3">
							<div class="mb-3">
								<div class="row">
									<div class="col-md">
										<form enctype="multipart/form-data" asp-action="Create">
											<div asp-validation-summary="ModelOnly" class="text-danger"></div>
											<div class="form-group">
                                                <label asp-for="Name" class="control-label">@language.GetKey("gname")</label>
                                                <input asp-for="Name" class="form-control" placeholder="@language.GetKey("plname")" />
												<span asp-validation-for="Name" class="text-danger"></span>
											</div>
											<div class="form-group">
                                                <label asp-for="Location" class="control-label">@language.GetKey("glocation")</label>
                                                <input asp-for="Location" class="form-control" placeholder="@language.GetKey("pllocation")" />
												<span asp-validation-for="Location" class="text-danger"></span>
											</div>
											<div class="form-group">
												<label asp-for="NIPC" class="control-label"></label>
                                                <input asp-for="NIPC" class="form-control" placeholder="@language.GetKey("plnipc")" />
												<span asp-validation-for="NIPC" class="text-danger"></span>
											</div>
											<div class="form-group">
												<label asp-for="LogoPicture" class="control-label">Logo</label>
												<div class="custom-file">
													<input asp-for="LogoPicture" class="custom-file-input" id="customFile">
                                                    <label class="custom-file-label" for="customFile">@language.GetKey("lchoose")</label>
												</div>
												<span asp-validation-for="LogoPicture" class="text-danger"></span>
											</div>
										
											<div class="d-flex text-center mt-4">
												<div class="col text-right">
													<a asp-action="Index" class="btn btn-secondary custom-button w-50" style="border-radius:6em">
                                                            @language.GetKey("btnVoltar")
													
													</a>
												</div>
												<div class="col text-left">
													<div class="form-group">
                                                        <input type="submit" value=" @language.GetKey("btnCreate")" class="btn btn-primary w-50" style="border-radius:6em" />
													</div>
												</div>
											</div>

										</form>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- // Box -->
				</div>
				<!-- // Fase 1 -->
			</div>
		</div>
	</div>

	    <!-- Slide de Ajuda  -->
    <div id="menu-ajuda" class="bg-primary animate__animated animate__slideInLeft">

        <div class="row text-center mt-2">
            <div class="col-10 ">
                <h2 class="text-white ms-5">@language.GetKey("help")</h2>
            </div>

            <div class="col-2">
                <button type="button" class="btn-close text-reset" id="close-ajuda" aria-label="Close"></button>
            </div>
        </div>
        <div class="">
            <input class="form-control mr-sm-2 mb-3 p-2 text-center" type="search"
                   placeholder="@language.GetKey("txtSearchHelpArticles")" aria-label="Search" style="border-radius: 10px;">
        </div>
        <!-- -->
        <ul class="row justify-content-center p-4 bg-white mt-4 "
            style="position: absolute;   right: 0em; left: 0em; height: 80%;">
            <li class="row">
                <button type="button" class="btn btn-help helpShadowButton border-0 mt-3 fw-bold" id="showText1">
                    <div class="d-flex align-items-center justify-content-center">

                        <span>@language.GetKey("howto_create_group")</span>
                        <img src="~/images/guide/dropdown.png" style="padding-left: 2%;">
                    </div>
                </button>


                <span class="myText p-3 helpShadowButton" id="displayText1" style="display: none; position: relative;">
                    @language.GetKey("txt_create_group")

                </span>
            </li>


            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/terms.png" class="">
                        </div>
                        <div class="col">
                            <span>@language.GetKey("readarticles")</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center">
                        <div class="col-3">
                            <img src="~/images/guide/comunity.png" class="">
                        </div>
                        <div class="col">
                            <span>@language.GetKey("askcomunity")</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/new.png" class="">
                        </div>
                        <div class="col">
                            <span>@language.GetKey("newsupdates")</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/feedback.png" class="">
                        </div>
                        <div class="col">
                            <span>
                                <a asp-area="" asp-controller="Home" asp-action="Contacts" style="text-decoration:none;color:inherit;">
                                    @language.GetKey("givefeedback")
                                </a>
                            </span>
                        </div>
                    </div>

                </button>
            </li>
        </ul>
    </div>
    <!-- // Slide de Ajuda  -->

        /**
         * Adiciona o nome do arquivo selecionado ao label do input.
         * @function
         */
	<script type="text/javascript">
		// Add the following code if you want the name of the file appear on select
		$(".custom-file-input").on("change", function () {
			var fileName = $(this).val().split("\\").pop();
			$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
	</script>

	
	@section Scripts {
	@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	}
}