@model ATLManager.Models.Agrupamento
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager
@using ATLManager.Services
@inject LanguageService language

@{
    ViewData["Title"] = @language.GetKey("menuAgrupamento");
}

<link rel='stylesheet' type='text/css' media='screen' href='~/css/custom-box-12.css'>
<title>@ViewData["Title"]</title>
@if (SignInManager.IsSignedIn(User))
{
    
	<!-- Container -->
	<div class="container-fluid">
		<div class="d-flex justify-content-center ms-2 pb-2" style="padding-left: 2%; padding-top: 0%;">
            <h1 class="me-3 fw-bold text-center mb-0">@language.GetKey("tremove_agr")</h1>
			<img src="~/images/icons/delete-group.png" width="50" height="50">
		</div>

        <div class="row" style="padding-left: 6em;">
            <div class="col text-right pb-2" id="divQuestion">
                <button class="btn btn-primary rounded-circle" id="btn-ajuda">
                    <img src="~/images/question.png" alt="Imagem 1" class="img-fluid" width="15">
                </button>
            </div>
        </div>

		<!-- Fase 1  -->
		<!-- d-flex -->
		<div class="d-flex justify-content-center" id="divFase1">
			<!-- Box  -->
			<div class="row justify-content-center custom-box" id="myBox">
				<div class="row box border-5 p-5">
					<div class="row mb-3 text-center">
                        <h3>@language.GetKey("qremove")</h3>
					</div>
					<div class="container text-center">
						<img src="~/images/uploads/agrupamentos/@Model.LogoPicture"
						class="rounded-circle"
						width="15%"
						asp-append-version="true" />
						<dl class="row text-end">
							<div class="row">
								<dt class="col mr-2">
                                    @language.GetKey("gname")
								</dt>
								<dd class="col text-left">
									@Html.DisplayFor(model => model.Name)
								</dd>
							</div>
							<div class="row">
								<dt class="col mr-2">
                                    @language.GetKey("glocation")
								</dt>
								<dd class="col text-left">
									@Html.DisplayFor(model => model.Location)
								</dd>
							</div>
							<div class="row">
								<dt class="col mr-2">
									@Html.DisplayNameFor(model => model.NIPC)
								</dt>
								<dd class="col text-left">
									@Html.DisplayFor(model => model.NIPC)
								</dd>
							</div>
						</dl>
					
						<div class="d-flex text-center mt-4">
							<div class="col text-right">
								<a asp-action="Index" class="btn btn-secondary custom-button w-50" style="border-radius:6em">
                                        @language.GetKey("btnVoltar")
								</a>
							</div>
							<div class="col text-left">
								<form asp-action="Delete">
									<input type="hidden" asp-for="AgrupamentoID" />
                                    <input type="submit" value="@language.GetKey("btnDelete")" class="btn btn-danger w-50" style="border-radius:6em" />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	    <!-- Slide de Ajuda  -->
    <div id="menu-ajuda" class="bg-primary animate__animated animate__slideInLeft">
        <div class="row text-center mt-2">
            <div class="col-10 ">
                <h2 class="text-white ms-5">@language.GetKey("help")</h2>
            </div>
            <div class="col-2">
                <button type="button" class="btn-close text-reset" id="close-ajuda" aria-label="Close"></button>
            </div>
        </div>
        <div class="">
            <input class="form-control mr-sm-2 mb-3 p-2 text-center" type="search"
                   placeholder="@language.GetKey("txtSearchHelpArticles")" aria-label="Search" style="border-radius: 10px;">
        </div>
        <!-- -->
        <ul class="row justify-content-center p-4 bg-white mt-4 "
            style="position: absolute;   right: 0em; left: 0em; height: 80%;">
            <li class="row">
                <button type="button" class="btn btn-help helpShadowButton border-0 mt-3 fw-bold" id="showText1">
                    <div class="d-flex align-items-center justify-content-center">

                        <span>@language.GetKey("howto_delete_group")</span>
                        <img src="~/images/guide/dropdown.png" style="padding-left: 2%;">
                    </div>
                </button>
                <span class="myText p-3 helpShadowButton" id="displayText1" style="display: none; position: relative;">
                    @language.GetKey("txt_delete_group")
                </span>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/terms.png" class="">
                        </div>
                        <div class="col">
                            <span>@language.GetKey("readarticles")</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center">
                        <div class="col-3">
                            <img src="~/images/guide/comunity.png" class="">
                        </div>
                        <div class="col">
                            <span>@language.GetKey("askcomunity")</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/new.png" class="">
                        </div>
                        <div class="col">
                            <span>@language.GetKey("newsupdates")</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/feedback.png" class="">
                        </div>
                        <div class="col">
                            <span>
                                <a asp-area="" asp-controller="Home" asp-action="Contacts" style="text-decoration:none;color:inherit;">
                                    @language.GetKey("givefeedback")
                                </a>
                            </span>
                        </div>
                    </div>
                </button>
            </li>
        </ul>
    </div>
    <!-- // Slide de Ajuda  -->


    	/**
	    * Configura o layout da tela com base no tamanho da tela
	    * @function
	    */
	<script>
		window.onload = function () {
			var divBox = document.getElementById("myBox")
			var divQuestion = document.getElementById("divQuestion")

			if (screen.width >= 1366 && screen.height >= 768 && screen.width < 1920 && screen.height <= 1080) {
				// Large screen
				divBox.classList.remove("col-6");
				divBox.classList.add("col-8");

				divQuestion.classList.add("text-right");
				divQuestion.style.paddingRight("2em");
			}
		}
	</script>
}