@model ATLManager.Models.Agrupamento
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager
@{
    ViewData["Title"] = "Details";
}

@if (SignInManager.IsSignedIn(User))
{
<h1>Details</h1>

<div>
    <h4>Agrupamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIPC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIPC)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AgrupamentoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
}