@model IEnumerable<ATLManager.Models.Recibo>
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager


@{
    ViewData["Title"] = "Index";
}

@if (SignInManager.IsSignedIn(User))
{
    <!-- Container -->
    <div class="container-fluid">
        <div class="d-flex justify-content-center ms-2 pb-2" style="padding-left: 2%; padding-top: 2%;">
            <h1 class="me-3 fw-bold text-center mb-4">Consultar Recibo</h1>
            <img src="~/images/icons/search-group.png" width="50" height="50">
        </div>

        <div class="row" style="padding-left: 6em;">
            <div class="col-3"></div>
            <div class="col-5"></div>
            <div class="col-3  pb-2" id="divQuestion">
                <button class="btn btn-primary rounded-circle" id="btn-ajuda">
                    <img src="~/images/question.png" alt="Imagem 1" class="img-fluid" width="15">
                </button>
            </div>
        </div>

        <!-- Fase 1  -->
        <!-- d-flex -->
        <div class="d-flex justify-content-center" id="divFase1">
            <!-- Box  -->
            <div class="row col-6 justify-content-center custom-box w-50" id="myBox">
                <div class="row box border-5 p-5">

                    <div class="container">
                        <form>
                            <div class="row">

                                <div class="mb-5">
                                    <label for="nome" class="form-label">Procure Recibo:</label>
                                    <input type="text" class="form-control" id="nome"
                                           placeholder="Digite o nome do Recibo">
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="mb-3">

                                    <div class="row">
                                        <div class="col-4">
                                            <label for="lista-recibos" class="form-label">Lista de Recibo(s):</label>
                                        </div>

                                        <div class="col-8">
                                            <div class="d-flex">
                                                <div class="col text-end">
                                                    <a asp-action="Create">
                                                        <button type="button" class="btn btn-primary custom-button style=" border-radius:6em""> + Adicionar Recibo </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="rounded-circle"></p>


                                    <table class="table table-hover table-bordered text-center" style="background:#d3e3f2;cursor: pointer;" id="myTable">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Name)
                                                </th>   
                                                <th>
                                                    @Html.DisplayNameFor(model => model.EmissionDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.DateLimit)
                                                </th>
                                                <th class="text-center"> Ações </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>

                                                    <td class="align-middle">
                                                        @Html.DisplayFor(modelItem => item.Name)
                                                    </td>
                                                    <td class="align-middle">
                                                        @Html.DisplayFor(modelItem => item.EmissionDate)
                                                    </td>
                                                    <td class="align-middle">
                                                        @Html.DisplayFor(modelItem => item.DateLimit)
                                                    </td>
                                         
                                                    <td class="text-center w-25">
                                                        <a asp-action="Details" asp-route-id="@item.ReciboId">
                                                            <button type="button" class="btn btn-primary custom-button" style="border-radius:6em">
                                                                <img src="~/images/icons/search-icon1.png" height="20" width="20">
                                                            </button>
                                                        </a>

                                                        <a asp-action="Edit" asp-route-id="@item.ReciboId">
                                                            <button type="button" class="btn btn-success custom-button" style="border-radius:6em">
                                                                <img src="~/images/icons/edit-icon1.png" height="20" width="20">
                                                            </button>
                                                        </a>
                                                        <a asp-action="Delete" asp-route-id="@item.ReciboId">
                                                            <button type="button" class="btn btn-danger custom-button" style="border-radius:6em;">
                                                                <img src="~/images/icons/delete-icon1.png" height="20" width="20">
                                                            </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- // Box -->
        </div>
        <!-- // Fase 1 -->
    </div>

    <!-- Slide de Ajuda  -->
    <div id="menu-ajuda" class="bg-primary animate__animated animate__slideInLeft">

        <div class="row text-center mt-2">
            <div class="col-10 ">
                <h2 class="text-white ms-5">Ajuda</h2>
            </div>

            <div class="col-2">
                <button type="button" class="btn-close text-reset" id="close-ajuda" aria-label="Close"></button>
            </div>
        </div>
        <div class="">
            <input class="form-control mr-sm-2 mb-3 p-2 text-center" type="search"
                   placeholder="Procure artigos que o ajude" aria-label="Search" style="border-radius: 10px;">
        </div>
        <!-- -->
        <ul class="row justify-content-center p-4 bg-white mt-4 "
            style="position: absolute;   right: 0em; left: 0em; height: 80%;">
            <li class="row">
                <button type="button" class="btn btn-help helpShadowButton border-0 mt-3 fw-bold" id="showText1">
                    <div class="d-flex align-items-center justify-content-center">

                        <span>Como alterar uma visita de estudo</span>
                        <img src="~/images/guide/dropdown.png" style="padding-left: 2%;">
                    </div>
                </button>


                <span class="myText p-3 helpShadowButton" id="displayText1" style="display: none; position: relative;">
                    Here's some more textHere's some more textHere's some more textHere's some
                    more textHe

                </span>
            </li>


            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/terms.png" class="">
                        </div>
                        <div class="col">
                            <span>Leia artigos de ajuda</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center">
                        <div class="col-3">
                            <img src="~/images/guide/comunity.png" class="">
                        </div>
                        <div class="col">
                            <span>Pergunte à comunidade</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/new.png" class="">
                        </div>
                        <div class="col">
                            <span>Novas Atualizações</span>
                        </div>
                    </div>
                </button>
            </li>
            <li class="row">
                <button type="button" class="btn helpShadowButton border-0 mt-3 fw-bold" id="Artigos">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="col-3">
                            <img src="~/images/guide/feedback.png" class="">
                        </div>
                        <div class="col">
                            <span>Dê Feedback</span>
                        </div>
                    </div>

                </button>
            </li>
        </ul>
    </div>
    <!-- // Slide de Ajuda  -->
    <!-- Search on table (Fase1) -->
    <script>
        // Get the input element and add an event listener for input
        const input = document.getElementById("nome");
        input.addEventListener("input", function () {

            // Get the table and search for the input value
            const table = document.getElementById("myTable");
            const filter = input.value.toUpperCase();
            const rows = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those that don't match the search query
            for (let i = 0; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName("td");
                let match = false;
                for (let j = 0; j < cells.length; j++) {
                    const cell = cells[j];
                    if (cell) {
                        const text = cell.textContent || cell.innerText;
                        if (text.toUpperCase().indexOf(filter) > -1) {
                            match = true;
                            break;
                        }
                    }
                }
                rows[i].style.display = match ? "" : "none";
            }
        });
    </script>

    <script>
        window.onload = function () {
            var divBox = document.getElementById("myBox")
            var divQuestion = document.getElementById("divQuestion")

            if (screen.width >= 1366 && screen.height >= 768 && screen.width < 1920 && screen.height <= 1080) {
                // Large screen
                divBox.classList.remove("col-6");
                divBox.classList.add("col-12");

                divQuestion.classList.add("text-right");
                divQuestion.style.paddingRight("2em");
            }
        }
    </script>

}