@model ATLManager.Models.EducandoResponsavel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EducandoResponsavel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apelido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apelido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfilePicture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parentesco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parentesco)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Educandos" asp-action="DetailsResponsaveis" asp-route-id="@Model.EducandoId">Back to List</a>
</div>
