@model ATLManager.Models.ATL
@using Microsoft.AspNetCore.Identity
@using ATLManager.Areas.Identity.Data

@inject SignInManager<ATLManagerUser> SignInManager
@inject UserManager<ATLManagerUser> UserManager
@{
	ViewData["Title"] = "Details";
}

@if (SignInManager.IsSignedIn(User))
{

	<!-- Fase 1  -->
	<!-- d-flex -->
	<div class="d-flex justify-content-center mt-5 pt-5">
		<!-- Box  -->
		<div class="row col-6 justify-content-center custom-box w-50">
			<div class="row box border-5 p-5">

				<div class="container">
					<div class="d-flex justify-content-center ms-2 pb-2" style="padding-left: 2%; padding-top: 2%;">
						<h1 class="me-3 fw-bold text-center mb-4">Detalhes da consulta</h1>
						<img src="~/images/icons/search-group.png" width="50" height="50">
					</div>
					<div class="row mt-3">
						<div class="mb-3">
							<dl class="row text-end">
								<img src="~/images/@Model.LogoPicture" class="rounded-circle" height="40" width="40" asp-append-version="true" />
								<div class="row">
									<dt class="col mr-2">
										@Html.DisplayNameFor(model => model.Name)
									</dt>
									<dd class="col text-left">
										@Html.DisplayFor(model => model.Name)
									</dd>
								</div>
								<div class="row">
									<dt class="col mr-2">
										@Html.DisplayNameFor(model => model.Address)
									</dt>

									<dd class="col text-left">
										@Html.DisplayFor(model => model.Address)
									</dd>
								</div>
								<div class="row">
									<dt class="col mr-2">
										@Html.DisplayNameFor(model => model.City)
									</dt>
									<dd class="col text-left">
										@Html.DisplayFor(model => model.City)
									</dd>
								</div>

								<div class="row">
									<dt class="col mr-2">
										@Html.DisplayNameFor(model => model.PostalCode)
									</dt>
									<dd class="col text-left">
										@Html.DisplayFor(model => model.PostalCode)
									</dd>
								</div>

								<div class="row">
									<dt class="col mr-2">
										@Html.DisplayNameFor(model => model.Agrupamento)
									</dt>
									<dd class="col text-left">
										@Html.DisplayFor(model => model.Agrupamento.Name)
									</dd>
								</div>

								<div class="row">
									<dt class="col mr-2">
										@Html.DisplayNameFor(model => model.NIPC)
									</dt>
									<dd class="col text-left">
										@Html.DisplayFor(model => model.NIPC)
									</dd>
								</div>


							</dl>
							<hr />
							<div class="d-flex text-center mt-4">
								<div class="col">
									<a asp-action="Index">
										<button type="button"
												class="btn btn-secondary custom-button w-50" style="border-radius:6em">
											Voltar
										</button>
									</a>
								</div>
							</div>


							<div>
								@*<a asp-action="Edit" asp-route-id="@Model?.AtlID">Edit</a> |*@

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- // Box -->
		</div>
		<!-- // Fase 1 -->
	</div>


}